apiVersion: v1
kind: Service
metadata:
  name: home-assistant
  namespace: home-assistant
  annotations:
    metallb.universe.tf/loadBalancerIPs: "172.18.1.230"
spec:
  type: LoadBalancer
  selector:
    app: home-assistant
  ports:
  - name: http
    port: 8123
    targetPort: 8123
    protocol: TCP
