apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-config
  namespace: gatus
data:
  config.yaml: |
    web:
      port: 8080
    
    storage:
      type: sqlite
      path: /data/data.db
    
    endpoints:
      - name: Homepage
        url: "http://homepage.homepage.svc.cluster.local"
        interval: 30s
        conditions:
          - "[STATUS] == 200"
      
      - name: Grafana
        url: "http://kube-prometheus-stack-grafana.monitoring.svc.cluster.local"
        interval: 30s
        conditions:
          - "[STATUS] == 200"
      
      - name: ArgoCD
        url: "http://argocd-server.argocd.svc.cluster.local"
        interval: 30s
        conditions:
          - "[STATUS] == 200"
      
      - name: Uptime Kuma
        url: "http://uptime-kuma.uptime-kuma.svc.cluster.local:3001"
        interval: 30s
        conditions:
          - "[STATUS] == 200"
