apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 79.4.1
    helm:
      valuesObject:
        grafana:
          enabled: true
          adminPassword: admin
          persistence:
            enabled: true
            size: 5Gi
            storageClassName: rook-ceph-block
          service:
            type: LoadBalancer
          sidecar:
            datasources:
              enabled: true
              defaultDatasourceEnabled: true
        prometheus:
          prometheusSpec:
            retention: 7d
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: rook-ceph-block
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 10Gi
        alertmanager:
          service:
            type: LoadBalancer
          alertmanagerSpec:
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: rook-ceph-block
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 5Gi
        prometheusOperator:
          enabled: true
        kubeStateMetrics:
          enabled: true
        nodeExporter:
          enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
