apiVersion: v1
kind: ConfigMap
metadata:
  name: crowdsec-config
  namespace: crowdsec
data:
  acquis.yaml: |
    ---
    filenames:
      - /var/log/auth.log
      - /var/log/syslog
    labels:
      type: syslog
