apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: minio
spec:
  type: LoadBalancer
  ports:
  - name: console
    port: 80
    targetPort: 9001
  - name: api
    port: 9000
    targetPort: 9000
  selector:
    app: minio
