apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-config
  namespace: headscale
data:
  config.yaml: |
    server_url: http://172.18.1.225:8080
    listen_addr: 0.0.0.0:8080
    metrics_listen_addr: 0.0.0.0:9090
    grpc_listen_addr: 0.0.0.0:50443
    grpc_allow_insecure: true
    
    prefixes:
      v4: 100.64.0.0/10
      v6: fd7a:115c:a1e0::/48
    
    private_key_path: /var/lib/headscale/private.key
    noise:
      private_key_path: /var/lib/headscale/noise_private.key
    
    derp:
      server:
        enabled: true
        region_id: 999
        region_code: "homelab"
        region_name: "Home Lab"
        stun_listen_addr: "0.0.0.0:3478"
      urls: []
      auto_update_enabled: false
    
    disable_check_updates: true
    ephemeral_node_inactivity_timeout: 30m
    
    database:
      type: sqlite
      sqlite:
        path: /var/lib/headscale/db.sqlite
    
    log:
      level: info
    
    dns:
      magic_dns: true
      base_domain: headscale.local
      nameservers:
        global:
          - 1.1.1.1
      search_domains: []
